<body>
    <div class="card-body">
        <div class="header mb-3">
            <h5 class="card-title text-dark">Categories</h5>
        </div>

        <div class="card">
            <div class="m-sm-4">

                <div class="card-header">
                    <h5 class="card-title text-primary">Add Category</h5>
                </div>

                <form action="/admin/add-category" method="post" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="form-label">Choose a category</label>
                        <input class="form-control form-control-lg" type="text" name="category"
                            placeholder="Choose a category" required />
                    </div>
                    <div class="form-group">
                        <label for="genderSelect">Gender</label>
                        <select class="form-control" id="genderSelect" name="gender">
                            <option selected>Choose...</option>
                            <option>Men</option>
                            <option>Women</option>
                            <option>Baby's</option>
                            <option>Unisex</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Enter a Sub-category</label>
                        <input class="form-control form-control-lg" type="text" name="subcategory"
                            placeholder="Enter a Sub-category" required />
                    </div>
                    <!-- Add and edit images -->
                    <div class="mb-3">
                        <label for="categoryImage" class="form-label">Upload Category images</label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="categoryImage" name="categoryImage" multiple />
                        </div>
                    </div>
                    <% if (locals.error) { %>
                        <div class="error-message text-danger" style=" text-align: center;">
                            <%= locals.error %>
                        </div>
                        <% } %>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-lg btn-primary">Add Category</button>
                    </div>
                    
                </form>

            </div>
        </div>
    </div>
</body>


<script>
    //***********************GENDER SELECTION*********************************************************////    
    $(document).ready(function () {
        // Listen for changes in the select element
        $('#genderSelect').change(function () {
            // Get the selected option value
            var selectedOption = $(this).val();

            // Log the selected option to the console
            console.log('Selected Gender:', selectedOption);
        });
    });

    //***********************GENDER SELECTION*********************************************************////    

    function validatePrice() {
        const regPrice = /^[1-9][0-9]*$/;
        const price = document.getElementById('price').value
        if (!regPrice.test(price)) {
            document.getElementById('price-error').innerHTML = 'price should be greater than zero'
            return false
        } else {
            document.getElementById('price-error').innerHTML = ''
            return true
        }
    }

    function validateQuantity() {
        const regQuantity = /^[1-9][0-9]*$/
        const quantity = document.getElementById('quantity').value
        if (!regQuantity.test(quantity)) {
            document.getElementById('quantity-error').innerHTML = 'quantity should be greater than zero'
            return false
        } else {
            document.getElementById('quantity-error').innerHTML = ''
            return true
        }
    }

</script>