
<h1> User Registration From</h1>

<form action="/registration" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter Name" required>
    <br><br>
    <input type="email" name="eamil" placeholder="Enter Email" required>
    <br><br>
    <input type="file" name="image" placeholder="Enter file" required>
    <br><br>
    <input type="text" name="mobile" placeholder="Enter Mobile No:" required>
    <br><br>
    <input type="submit" value="Register" >
    

</form>

