<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at font-awesome.io! -->

<div class="container">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5 custom-login-bg">
            <div class="card-body p-4 p-sm-5">

                <h1 class="text-center">User Login</h1>
                <% if (typeof error !== 'undefined' && error !== null) { %>
                    <div class="alert alert-danger" role="alert">
                      <%= error %>
                    </div>
                  <% } %>
                <form method="post" action="/login">
                    <!-- <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name" class="form-control" id="name" name="name" required>
                    </div> -->
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <h6> <a href="/forgot-Password">forgotten password </a></h6>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div>
                        <p class="mb-0">I don't have an account? <a href="/signup"
                                class="text-primery-50 fw-bold">Signup</a>
                        </p>
                    </div>
                    <!-- <h6> <a href="/otp-login">Login with OTP </a></h6> -->

                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>